//
   Created by yuzaizai on 2016/5/27.

extends ../layout
block content
   .container
      .row
         table.table.table-hover.table-bordered
            thead
               tr
                  th 组织名称
                  th URI
                  th 访问账号
                  th 访问密码
                  th 录入时间
                  th 查看
                  th 修改
                  th 删除
            tbody
               each organ in organs
                  tr(class="item-id-#{organ._id}")
                     td #{organ.organName}
                     td #{organ.uri}
                     td #{organ.account}
                     td #{organ.accessPwd}
                     td #{moment(organ.meta.updateAt).format('MM/DD/YYYY')}
                     td: a(target="_blank",href="../movie/#{organ._id}") 查看
                     td: a(target="_blank",href="../admin/update/#{organ._id}") 修改
                     td
                        button.btn.btn-danger.del(type="button", data-id="#{organ._id}") 删除
   script(src="../js/admin.js")
